.question-wrapper {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.form-progress-bar {
  height: 6px;
  background-color: #007f4f;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.step {
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

h4 {
  margin-top: 1.5rem;
  font-weight: bold;
}

ul {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 1.2rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.option-btn {
  display: block;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 18px;
  background-color: #f9f9f9;
  font-size: 16px;
  text-align: left;
  transition: all 0.3s ease;
  cursor: pointer;
}

.option-btn:hover {
  background-color: #f26621; /* NHS green */
  color: #fff;
  border-color: #f26621;
}
